<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>decisive</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <br>

    <h3>results</h3>
    <% for (var count in Array.apply(null, Array(info.name.length)).map(function (_, i) {return i;})) { %>
      <div>
      <%= "name: " + info.name[count] %><br>
      <%= "type: " + info.type[count] %><br>
      <%= "ratings: " + info.ratings[count] %><br>
      <%= "crossstreets: " + info.crossstreets[count] %><br>
      <%= "address: " + info.address[count] %><br>
      <%= "phonenumber: " + info.phonenumber[count] %><br>
      </div>
      <br>
    <% } %>
  </div>
</body>
</html>